/* GENERAL */

.default-container {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    font-family: montserrat;
}

/* HEADER */

.top-header {
    background-color: #121d2f;
    padding: 12px 0 13px;
    color: #fff;
    font-size: 11px;
    font-family: montserrat;
    font-weight: 300;
}

.bottom-header {
    background-color: #0090d4;
    padding: 35px 0 31px;
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
}

.social-icon {
    color: #0090d4;
    font-size: 12px;
}

.contact-icon {
    color: #0090d4;
    font-size: 11px;
}

.login-form-container {
    max-width: 400px;
    height: 28px;
}

input.form-login {
    font-size: 11px;
    font-family: montserrat;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-btn {
    font-family: montserrat;
    font-size: 11px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 4px;
    margin: 2px 0;
}

li.nav-item {
    font-family: montserrat;
    font-size: 11.5px;
}

.navbar-nav {
    --bs-nav-link-font-weight: 700;
    --bs-nav-link-color: #272727;
    --bs-nav-link-hover-color: #fff;
}

.hover-nav:hover {
    background-color: #121d2f;
}

.hover-nav {
    padding: 8px 0;
}

.navbar {
    padding: 0;
}

.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #121d2f;
    border: 2px solid #121d2f;
}

.icon-circle i {
    font-size: 12px;
    color: #fff;
}

/* END HEADER */

/* FOOTER */

.carousel-background {
    background-color: rgba(234, 237, 240, 0.9);
    padding: 40px;
}

.request_quote_footer {
    font-family: 'Montserrat';
    color: #272727;
    font-size: 16px;
    padding: 30px 0 65px 0;
    background: #121d2f;
}

.main_footer {
    background-color: #0090d4;
    line-height: 1.42857143;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 16px;
    padding-top: 40px;
}

/* END FOOTER */

/* MASTER VIEW */

.master-view-title {
    font-weight: 700;
    margin-left: 20px;
}

.master-view-container {
    padding-top: 40px;
    min-height: 60vh;
}

/* FILTER VIEW */

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(234,237,240,0.9);
    min-height: 0vh;
}

.filter-title-container {
    background-color: #0090d4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-title-container>div>p {
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
}

.form-label {
    font-weight: 500;
    font-size: 11px;
}

.filter-input {
    font-size: 11px;
    color: #212529;
}

strong {
    font-size: 12px;
}

.result-table-hd-text {
    background-color: rgba(0, 144, 212, 0.75);
    color: #fff;
    font-size: 10px;
}

.result-table-row-light {
    background-color: #f9f9f9;
}

.result-table-row-dark {
    background-color: #e8e8e8;
}

/* DETAIL VIEW */

.ficha_cabecalho_campo{
	font-size:10px;
	color: #000066;
	background-color:#CCC;
	font-family: montserrat;
	text-align: center;
	border-bottom:solid 1px #e8e8e8;
}

.ficha_cabecalho_campo_dep{
    font-size:10px;
    color: #000066;
    background-color:#B9B9B9;
    font-family: montserrat;
    text-align: center;
    border-bottom:solid 1px #CCC;
    margin-top:5px;
}

.ficha_topico{
	font-size:11px;
	font-weight:bold;
	color: #000066;
	font-family: montserrat;
}
.ficha_texto_campo{
	font-size:10px;
	color: #444444;
	font-family: montserrat;
	text-align: center;
	background-color:#F5F5F5;
}
.ficha_texto_campo_dep{
    font-size:11px;
    color: #444444;
    font-family: montserrat;
    text-align: center;
    background-color:#d2d0d0;
}
.mgt_texto
{
	font-size:11px;
	font-weight:bolder;
	color: #ffffff;
	font-family: montserrat;
	text-align: center;
	background-color:#006699;
}

.genealogia_texto_campo{
	background:url(../../images/teste_1.jpg) no-repeat;
	font-size:11px;
	width:160px;
	height:60px;
	font-family: montserrat;
	text-align: center;
}

.genealogia_texto_campo_f {
	background:url(../../images/teste_3.jpg) no-repeat;
	font-size:11px;
	width:160px;
	height:60px;
	font-family: montserrat;
	text-align: center;
}

.genealogia_texto_campo_m {
	background:url(../../images/teste_2.jpg) no-repeat;
	font-size:11px;
	width:160px;
	height:60px;
	font-family: montserrat;
	text-align: center;
}

.style1 {color: #003366}

.borda_grupo{
	border: thin ridge #ccc;
	padding: 1px;
	margin: 1px;
}

.borda_dep {
	border:solid 1px #CCCCCC
}